<% if objectable.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel panel-heading panel-danger">
      <h4 class="text-danger">following
        <%= pluralize(objectable.errors.count, "error") %>
      causing post can't be saved</h4>
    </div>
    <div class="panel panel-body">
      <ul class="list-group">
        <% objectable.errors.full_messages.each do |msg| %>
          <li class="list-group-item text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
