<navigation class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to 'Medium-Clone', root_path, class: 'navbar-brand' %>
    </div>
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to 'Write story', new_story_path %>
          </li>
        </ul>
    </div>
</navigation>
